<li><a href="#mailing-lists">Mailing Lists</a></li>
<li><a href="#irc-chat">IRC Chat</a></li>
<li><a href="#issue-tracker">Issue tracker</a></li>
<li><a href="#main-code-repository">Main Code Repository</a></li>
<li><a href="#website-code-repository">Website Code Repository</a></li>
<li><a href="#community-resources">Community Resources</a></li>
<li><a href="#google-summer-of-code">Google Summer of Code</a></li>
<li><a href="#contributing-to-libcloud">Contributing</a></li>
<li><a href="#other">Other</a></li>
<li><a href="#asf-board-reports">Board Reports</a></li>
